.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 70px;
}

.logo {
    width: 70px;
    height: 70px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 0px;

    
    

}

.nav-items ul li {
    margin: 10px;
    padding: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    width: 170px;
    height: 370px;
    margin: 5px;

    
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
}

.footer{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.filter{
    cursor: pointer;
    margin: 10px;
}